/********GENERAL********/

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    background: rgb(254, 237, 148);
}

h1 {
    font-size: 2.2rem;
    color: #442A1B;
}

h2 {
    font-size: 1.5rem;
    text-decoration: underline;
    color: #442A1B;
}

h3 {
    font-size: 1.7rem;
    color: #442A1B;
}

p {
    font-size: 1.5rem;
    color: #442A1B;
}

a {
    text-decoration: none;
    font-size: 1.8rem;
    color: #442A1B;;
}

ul, li {
    list-style-type: none;
    padding: 0;
}

.material-icons {
    color: #ffffff;
    padding-right: 4px;
    font-size: 1.5rem;
}

.container {
    margin: 0 5%;
}

/********HEADER********/

.logo {
    background: #442A1B;
    text-align: center;
    padding: 10px;
}

.logo img {
    width: 50%;
}

/********BANNER********/

#banner {
    padding: 40px 0;
}

#banner video {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(68, 42, 27);
}

/********STORY********/

.caption {
    border-top: 4px solid #442A1B;
    padding: 15px 0;
}

/********FOOTER********/

footer {
    background: #442A1B;
    padding: 20px 0;
}

.content {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.pic {
    min-width: 60%;
}

.pic img {
    max-width: 75%;
    height: auto;
}

.contact {
    max-width: 40%;
}

.contact li {
    padding: 5px 0;
    display: flex;
    align-items: center;
}

.contact a {
    color: #ffffff;
    font-size: 1.5rem;
}

#legal {
    padding-top: 10px;
}

#legal p {
    color: #ffffff;
    margin-bottom: 0;
}

#social {
    border-bottom: 1px solid #ffffff;
    padding: 0 0 10px 0;
}

#social h3 {
    color: #ffffff;
}

#social ul {
    display: flex;
}

#social img {
    width: 50px;
}

/********RESPONSIVE********/


@media only screen and (max-width: 991px) {

    /********HEADER********/

    .logo img {
        width: 100%;
    }

    /********FOOTER********/
    
    .content {
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid #ffffff;
    }

    .pic {
        width: 100%;
        border-bottom: 1px solid #ffffff;
        padding-bottom: 10px;
    }

    .pic img {
        max-width: 100%;
    }

    .contact {
        max-width: 100%;
        padding: 10px 0;
    }  
}

@media only screen and (min-width: 992px) {


    a:hover {
        color: red;
        transition: color 0.2s ease-in-out;
    }

    h3:hover {
        color: red;
        transition: color 0.2s ease-in-out;
        text-decoration: underline;
    }

    #social li a:hover {
        opacity: 0.7;
    }
}










